<template>
    <div class="container center">
        <div class="container">
            <h1 class="title">The tool designed for <span class="important">Workers</span>.</h1>
            <h2 class="sub-title">Enjoy an efficient productivity by working with draft-board like application.</h2>
        </div>
        <div class="btn-group">
            <router-link to="/register" class="btn hero valid big"><i class="icon-login"></i> Sign up now</router-link>
            <router-link to="/register" class="link big"><i class="icon-magnifier"></i> Discover</router-link>
        </div>
        <div class="video">
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>
    .container {

        margin-top: 10%;
    }

    .sub-title {

        margin-top: 30px;
    }

    .btn-group {

        margin: 50px;
    }

    .btn.hero.valid.big {

        margin-right: 20px;
    }

    @media (max-width: 991.98px) {

        .btn-group {

            flex-direction: column;
        }

        .btn {

            margin: 20px 0;
        }

        .btn.hero.valid.big {

            margin-right: 0px;
        }
    }
</style>
