<template>
    <div class="board" @click.right.prevent="menu = true" @click.left.prevent="menu = false" @mousemove="move">
        <template v-if="!this.cards">
            <h1>No cards</h1>
        </template>
        <template v-else>
            <div v-for="card in this.cards">
                <Card :card-data="card" />
            </div>
        </template>
        <div v-if="menu" class="menu" :style="'position: absolute; top: ' + this.top + 'px; left: ' + this.left + 'px;'">
            <p @click="addCard" class="menu-link"><i class="icon-plus"></i> Add a card</p>
            <p @click="addCard" class="menu-link"><i class="icon-directions"></i> Another action</p>
            <p @click="addCard" class="menu-link"><i class="icon-trophy"></i> Another action</p>
        </div>
    </div>
</template>

<script>
    import Card from './Card';

    export default {

        data() {

            return {

                menu: false,
                top: 0,
                left: 0,
            }
        },
        methods: {

            move(event) {

                if(!this.menu) {

                    this.top = event.clientY;
                    this.left = event.clientX;
                }
            },
            addCard() {

                this.$store.commit('addCard', {

                    title: 'Title',
                    content: 'Content',
                    id: this.cards.length + 1,
                    x: this.left,
                    y: this.top,
                    user: this.$store.getters.currentUser.id,
                    updated_at: null,
                    created_at: null,
                });
            }
        },
        mounted() {

            this.$store.dispatch('getCards');
        },
        computed: {

            cards() {

                return this.$store.getters.cards;
            }
        },
        components: {

            Card,
        }
    }
</script>
