<template>
    <div @mouseup="update = true" v-draggable class="card draggable" :id="'drag' + this.id" :style="{top: this.y, left: this.x}">
        <div class="card-title">
            <input @blur="update = true" type="text" v-model="title" ref="title">
            <div class="card-buttons">
                <button type="button"><i class="fas fa-pen"></i></button>
                <button type="button"><i class="fas fa-sliders-h"></i></button>
            </div>
        </div>
        <div class="separator"></div>
        <div class="card-content">
            <textarea @blur="update = true" v-model="content"></textarea>
        </div>
    </div>
</template>

<script>
    export default {

        props: ['cardData'],
        data() {

            return {

                id: this.cardData.id,
                title: this.cardData.title,
                content: this.cardData.content,
                x: this.cardData.x + 'px',
                y: this.cardData.y + 'px',

                update: false,
            }
        },
        mounted() {

            setInterval(() => {

                if(this.update) {

                    this.update = false;

                    axios.post('/api/cards/update', {

                        id: this.id,
                        title: this.title,
                        content: this.content,
                        x: document.getElementById('drag' + this.id).style.left,
                        y: document.getElementById('drag' + this.id).style.top,
                    }, {

                        headers: {

                            'Authorization': 'Bearer ' + this.user.token,
                        },

                    }).then((response) => {

                        if(response.data.success)
                            console.log('updated');
                        else
                            console.log('error');
                    });
                }

            }, 500);
        },
        computed: {

            user() {

                return this.$store.getters.currentUser;
            }
        }
    }
</script>
