<template>
    <div class="dashboard">
        <div class="sidebar">
            <div class="user">
                <div class="profile">
                </div>
                <div class="details">
                    <p class="name">{{ this.user.name }}</p>
                    <p class="email">{{ this.user.email }}</p>
                </div>
            </div>
            <router-link class="link" to="/dashboard"><i class="icon-folder"></i> Dashboard</router-link>
            <router-link class="link" to="/dashboard/settings"><i class="icon-settings"></i> Settings</router-link>
            <a class="link" href="#!" @click.prevent="logout">Logout</a>
        </div>
        <div class="content">
        </div>
    </div>
</template>

<script>
    export default {

        methods: {

            logout() {

                this.$store.commit('logout');
                this.$router.push('/login');
            }
        },
        computed: {

            user() {

                return this.$store.getters.currentUser;
            }
        },
    }
</script>
