.box {

    display: flex;
    flex-direction: column;

    margin: auto;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;
    z-index: -1;

    background-color: $light;
    border-radius: 10px;

    .box-title {

        margin-bottom: 50px;
    }

    .box-row {

        display: flex;
        flex-direction: column;
        align-items: center;

        .input {

            margin-bottom: 20px;
        }

        .btn {

            margin-top: 20px;
        }
    }
}
