.card {

    width: 400px;
    height: auto;

    background-color: $white;

    border-radius: 10px;
    border-left: 5px solid $red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    padding: 20px;

    &.draggable {

        position: absolute;

        &:hover {

            cursor: move;
        }
    }

    .card-title, .card-content {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        input {

            width: 100%;

            color: $dark;
            font-size: 22px;
            font-family: 'Colfax Medium', serif;
            padding: 5px 10px;

            border: 1px solid $white;
            border-radius: 5px;

            &:focus {

                border: 1px solid $light-darker;
            }
        }

        button {

            color: $gray;
            font-size: 16px;
            margin-left: 10px;

            border: none;
            background: none;

            transition: .3s ease;

            &:hover {

                color: $dark-lighter;

                cursor: pointer;
            }
        }
    }

    .card-buttons {

        display: flex;
    }

    .card-content {

        flex-direction: column;
        align-items: normal;

        textarea {

            color: $dark-lighter;
            font-size: 18px;
            font-family: 'Colfax Regular', serif;

            padding: 5px 10px;

            border: 1px solid $white;
            border-radius: 5px;

            resize: vertical;

            &:focus {

                border: 1px solid $blue;
            }
        }
    }
}
