.input {

    font-size: 16px;

    width:  250px;

    border: none;
    border-radius: 5px;
    background-color: $white;

    padding: 10px;

    &:focus {

        box-shadow: 0 0 0 2px $blue;
        //border: 2px solid $blue;
    }
}

a.btn {

    display: inline-block;

    text-decoration: none;
}

.btn {

    font-size: 18px;

    color: $light;

    border: none;
    border-radius: 5px;

    padding: 10px 50px;
    background-color: $blue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    transition: .3s ease;

    &.big {

        font-size: 20px;
        padding: 15px 50px;
    }

    &.hero {

        &:hover {

            transform: translateY(-2px);
        }
    }

    &:hover {

        cursor: pointer;
        background-color: $blue-darker;
    }

    &.valid {

        background-color: $green;

        &:hover {

            background-color: $green-darker;
        }
    }

    &.dark {

        background-color: $dark-lighter;

        &:hover {

            background-color: $dark;
        }
    }
}

.btn-group {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {

    font-size: 18px;

    color: $blue;

    &.big {

        font-size: 20px;
        font-family: 'Colfax Bold', serif;
    }

    &:hover {

        text-decoration: underline;
        color: $blue-darker;
    }
}

.error {

    padding: 20px;
    margin: 20px;

    background-color: rgba($red, 0.5);

    border: 2px solid rgba($red, 0.3);
    border-radius: 5px;

    p {

        font-size: 16px;
    }
}

.title {

    color: $dark;

    font-size: 80px;
    font-family: 'Colfax Black', serif;

    line-height: 80px;

    .important {

        background: -webkit-linear-gradient(180deg, $blue, $blue-darker);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sub-title {

    color: $dark-lighter;

    font-size: 28px;
    font-family: 'Colfax Light', serif;
}

.muted {

    color: $gray;

    position: relative;
    top: 10px;
}

.center {

    text-align: center;
}

.separator {

    width: 80%;
    height: 1px;

    background-color: $light;

    margin: 10px auto;
}
