@import 'variables';

header .responsive {

    display: none;
}

@media (max-width: 991.98px) {

    .container {

        width: 90%;
    }

    header {

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .header-container {

            width: 100vw;
            height: 100vh;

            background-color: $white;

            flex-direction: column;
            justify-content: center;

            position: fixed;
            right: 0;

            opacity: 0;
            z-index: 999;

            pointer-events: none;

            &.active {

                opacity: 1;
                pointer-events: all;
            }

            .links-group {

                margin: 50px 0;

                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .link {

                font-size: 26px;

                display: block;
                margin: 10px 0;
            }
        }

        .responsive {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            position: absolute;
            width: 100%;

            z-index: 9999;

            .logo-responsive {

                height: 50px;
                width: auto;
                margin-left: 15px;
            }

            #header-toggle {

                font-size: 30px;
                margin-right: 20px;
            }
        }
    }

    .title {

        font-size: 50px;
        line-height: 50px;
    }

    .sub-title {

        font-size: 24px;
    }

    .btn {

        padding: 10px 30px;

        &.big {

            padding: 10px 30px;
        }
    }

    .content {

        margin-top: 200px;
    }
}
