$white: #ffffff;

$light: #F0F0F0;
$light-darker: #C2C2C2;

$dark: #0f0f0f;
$dark-lighter: #2d2d2d;

$gray: #878787;

$blue: #3E95FC;
$blue-darker: #0B7BFF;

$green: #10cb0c;
$green-darker: #0eb40b;

$red: #FF5C5C;
