@import 'variables';

@import 'elements';
@import 'box';
@import 'card';
@import 'dashboard';

body {

    font-family: 'Colfax Regular', serif !important;
    text-rendering: optimizeLegibility;

    background-color: $white;

    overflow-x: hidden;
}

* {

    margin: 0;
    padding: 0;
}

*:focus {

    outline: none;
}

a {

    text-decoration: none;
}

i {

    margin-right: 6px;
}

.container {

    width: 60%;
    height: 100%;

    margin: 0 auto;
}

header {

    position: fixed;
    top: 0;

    width: 100vw;
    height: 70px;

    border-bottom: 1px solid $light;
    background-color: #ffffff;

    .header-container {

        display: flex;
        flex-direction: row;

        height: 100%;

        justify-content: space-between;
        align-items: center;

        .logo {

            height: 30px;
            width: auto;
        }

        .link {

            font-size: 18px;
            font-weight: bolder;
            color: $dark;

            margin: 0 20px;

            text-decoration: none;

            &:hover {

                color: $blue-darker;
            }

            &.router-link-exact-active {

                color: $blue-darker;
            }

            &.sign-up {

                color: $blue-darker;
                font-weight: bold;//font-family: 'Colfax Bold', serif;

                padding: 10px 20px;

                border: 2px solid $blue-darker;
                border-radius: 5px;

                &:hover {

                    color: $light;

                    background-color: $blue-darker;
                }
            }
        }
    }
}

.video {

    width: auto;
    height: 720px;

    background-color: $white;
    border-radius: 10px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
