.dashboard {

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: row;

    .sidebar {

        width: 200px;
        height: 100vh;

        background-color: $white;
        border-right: 1px solid $light;

        .user {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            padding: 20px 0;
            border-bottom: 1px solid $light-darker;

            .profile {

                width: 40px;
                height: 40px;
                background-color: $light-darker;
                border-radius: 40px;
            }

            .details {

                .name {

                    color: $dark;
                    font-size: 18px;
                    font-family: 'Colfax Regular', serif;
                }

                .email {

                    color: $gray;
                    font-size: 12px;
                    font-family: 'Colfax Light', serif;
                }
            }
        }

        .link {

            display: block;

            color: $dark-lighter;
            font-size: 14px;
            font-family: 'Colfax Light', serif;
            padding: 15px 0 15px 30px;

            &.router-link-exact-active {

                background-color: rgba($blue, 0.2);
            }

            &:hover {

                background-color: rgba($light-darker, 0.2);
                text-decoration: none;
            }
        }
    }

    .content {

        width: calc(100vw - 200px);
        height: 100vh;
    }

    .board {

        width: inherit;
        height: inherit;

        background: linear-gradient(90deg, #fff 10px, transparent 1%) center, linear-gradient(#fff 10px, transparent 1%) center, #ccc;
        background-size: 11px 11px;
    }

    .menu {

        width: 200px;
        height: auto;

        padding: 5px;

        background-color: $white;
        border-radius: 5px;

        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        .menu-link {

            display: flex;
            align-items: center;

            border-radius: 5px;
            padding: 10px 20px;

            font-size: 14px;
            color: $dark-lighter;

            &:hover {

                cursor: pointer;
                background-color: rgba($light-darker, 0.2);
            }
        }
    }
}
