.input {
  font-size: 16px;
  width: 250px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

.input:focus {
  box-shadow: 0 0 0 2px #3E95FC;
}

a.btn {
  display: inline-block;
  text-decoration: none;
}

.btn {
  font-size: 18px;
  color: #F0F0F0;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #3E95FC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.btn.big {
  font-size: 20px;
  padding: 15px 50px;
}

.btn.hero:hover {
  transform: translateY(-2px);
}

.btn:hover {
  cursor: pointer;
  background-color: #0B7BFF;
}

.btn.valid {
  background-color: #10cb0c;
}

.btn.valid:hover {
  background-color: #0eb40b;
}

.btn.dark {
  background-color: #2d2d2d;
}

.btn.dark:hover {
  background-color: #0f0f0f;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 18px;
  color: #3E95FC;
}

.link.big {
  font-size: 20px;
  font-family: "Colfax Bold", serif;
}

.link:hover {
  text-decoration: underline;
  color: #0B7BFF;
}

.error {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 92, 92, 0.5);
  border: 2px solid rgba(255, 92, 92, 0.3);
  border-radius: 5px;
}

.error p {
  font-size: 16px;
}

.title {
  color: #0f0f0f;
  font-size: 80px;
  font-family: "Colfax Black", serif;
  line-height: 80px;
}

.title .important {
  background: -webkit-linear-gradient(180deg, #3E95FC, #0B7BFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-title {
  color: #2d2d2d;
  font-size: 28px;
  font-family: "Colfax Light", serif;
}

.muted {
  color: #878787;
  position: relative;
  top: 10px;
}

.center {
  text-align: center;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: #F0F0F0;
  margin: 10px auto;
}

.box {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: -1;
  background-color: #F0F0F0;
  border-radius: 10px;
}

.box .box-title {
  margin-bottom: 50px;
}

.box .box-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .box-row .input {
  margin-bottom: 20px;
}

.box .box-row .btn {
  margin-top: 20px;
}

.card {
  width: 400px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  border-left: 5px solid #FF5C5C;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card.draggable {
  position: absolute;
}

.card.draggable:hover {
  cursor: move;
}

.card .card-title,
.card .card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card .card-title input,
.card .card-content input {
  width: 100%;
  color: #0f0f0f;
  font-size: 22px;
  font-family: "Colfax Medium", serif;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.card .card-title input:focus,
.card .card-content input:focus {
  border: 1px solid #C2C2C2;
}

.card .card-title button,
.card .card-content button {
  color: #878787;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background: none;
  transition: 0.3s ease;
}

.card .card-title button:hover,
.card .card-content button:hover {
  color: #2d2d2d;
  cursor: pointer;
}

.card .card-buttons {
  display: flex;
}

.card .card-content {
  flex-direction: column;
  align-items: normal;
}

.card .card-content textarea {
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Colfax Regular", serif;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  resize: vertical;
}

.card .card-content textarea:focus {
  border: 1px solid #3E95FC;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.dashboard .sidebar {
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #F0F0F0;
}

.dashboard .sidebar .user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #C2C2C2;
}

.dashboard .sidebar .user .profile {
  width: 40px;
  height: 40px;
  background-color: #C2C2C2;
  border-radius: 40px;
}

.dashboard .sidebar .user .details .name {
  color: #0f0f0f;
  font-size: 18px;
  font-family: "Colfax Regular", serif;
}

.dashboard .sidebar .user .details .email {
  color: #878787;
  font-size: 12px;
  font-family: "Colfax Light", serif;
}

.dashboard .sidebar .link {
  display: block;
  color: #2d2d2d;
  font-size: 14px;
  font-family: "Colfax Light", serif;
  padding: 15px 0 15px 30px;
}

.dashboard .sidebar .link.router-link-exact-active {
  background-color: rgba(62, 149, 252, 0.2);
}

.dashboard .sidebar .link:hover {
  background-color: rgba(194, 194, 194, 0.2);
  text-decoration: none;
}

.dashboard .content {
  width: calc(100vw - 200px);
  height: 100vh;
}

.dashboard .board {
  width: inherit;
  height: inherit;
  background: linear-gradient(90deg, #fff 10px, transparent 1%) center, linear-gradient(#fff 10px, transparent 1%) center, #ccc;
  background-size: 11px 11px;
}

.dashboard .menu {
  width: 200px;
  height: auto;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dashboard .menu .menu-link {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  color: #2d2d2d;
}

.dashboard .menu .menu-link:hover {
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.2);
}

body {
  font-family: "Colfax Regular", serif !important;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

i {
  margin-right: 6px;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #F0F0F0;
  background-color: #ffffff;
}

header .header-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header .header-container .logo {
  height: 30px;
  width: auto;
}

header .header-container .link {
  font-size: 18px;
  font-weight: bolder;
  color: #0f0f0f;
  margin: 0 20px;
  text-decoration: none;
}

header .header-container .link:hover {
  color: #0B7BFF;
}

header .header-container .link.router-link-exact-active {
  color: #0B7BFF;
}

header .header-container .link.sign-up {
  color: #0B7BFF;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #0B7BFF;
  border-radius: 5px;
}

header .header-container .link.sign-up:hover {
  color: #F0F0F0;
  background-color: #0B7BFF;
}

.video {
  width: auto;
  height: 720px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

