<template>
    <div class="container">
        <div class="box">
            <div class="box-title">
                <h3 class="sub-title">Sign up</h3>
            </div>
            <form class="box-row" @submit.prevent="auth">

                <div class="error" v-if="authError">
                    <p>{{ authError }} </p>
                </div>

                <input class="input" type="name" name="name" v-model="form.name" placeholder="Enter your name">
                <input class="input" type="email" name="email" v-model="form.email" placeholder="Enter your email">
                <input class="input" type="password" name="password" v-model="form.password" placeholder="Enter your password">
                <input class="input" type="password" name="password_confirmation" v-model="form.password_confirmation" placeholder="Repeat your password">
                <button class="btn hero big valid" type="submit"><i class="icon-login"></i> Sign up</button>
                <p class="muted">or</p>
                <a href="/api/auth/login/github" class="btn dark"><i class="icon-social-github"></i> Sign up with GitHub</a>
            </form>
        </div>
    </div>
</template>

<script>
    import { register } from '../../helpers/auth';

    export default {

        data() {

            return {

                form: {

                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
            }
        },

        methods: {

            auth() {

                this.$store.dispatch('login');

                register(this.$data.form)
                    .then((res) => {

                        this.$store.commit('loginSuccess', res);
                        this.$router.push({path: '/dashboard'});
                    })
                    .catch((err) => {

                        this.$store.commit('loginFailed', { err });
                    });
            }
        },
        computed: {

            authError() {

                return this.$store.getters.authError;
            }
        }
    }
</script>
