<template>
    <header>
        <div class="responsive">
            <router-link to="/" @click.native="show = false"><img class="logo-responsive" src="../../../public/images/logo-1kx1k.png"></router-link>
            <i :class="this.show ? 'icon-close' : 'icon-menu'" id="header-toggle" @click="toggle"></i>
        </div>
        <div class="container">
            <div :class="'header-container ' + (this.show ? 'active' : '')" id="header-responsive">
                <div class="links-group">
                    <router-link to="/" @click.native="toggle"><img class="logo" src="../../../public/images/logo-text.png"></router-link>
                </div>
                <div class="links-group">
                    <router-link class="link" to="/solutions" @click.native="toggle">Solutions</router-link>
                    <router-link class="link" to="/pricing" @click.native="toggle">Pricing</router-link>
                    <router-link class="link" to="/login" @click.native="toggle">Sign in</router-link>
                    <router-link class="link sign-up" to="/register" @click.native="toggle">Sign up</router-link>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    export default {

        data() {

            return {

                show: false,
            }
        },
        methods: {

            toggle() {

                this.show = !this.show;
            }
        },
    }
</script>
