<template>
    <div id="main-container">
        <router-view name="header"></router-view>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
